{
   "tabWidth": 3,
   "singleQuote": false,
   "semi": true,
   "overrides": [
      {
         "files": ["*.yml", "*.json"],
         "options": {
            "tabWidth": 2
         }
      }
   ]
}
